body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
  text-align: center;
}

h1 {
  text-align : center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 40px;
}

